
@{
    var Image1Path = "/images/progressBar2.jpg";
    ViewBag.Title = "Home_2";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}



<img src="@Image1Path" alt="Status2" width="60%" />
<h2>
    Sua candidatura para a vaga de @ViewBag.vaga, 
    esta em analise pela nossa equipe!
</h2>
<h2>Boa Sorte!!!</h2>

