
@{
    ViewBag.Title = "User_home_3";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}

<h2>
    Entramos em contato e sua candidatura para a vaga de @ViewBag.vaga, foi aprovada pela nossa equipe!
    Agora você tem uma entrevista agendada para o dia @ViewBag.dataEntrevista, não esqueça de chegar com pelo menos 30 minutos de antecedencia!
    Boa Sorte!
</h2>
