
@{
    var Image1Path = "/images/progressBar3.jpg";
    ViewBag.Title = "Home_3";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}


<img src="@Image1Path" alt="Status3" width="60%" />
<h2>
    Entramos em contato e sua candidatura para a vaga de @ViewBag.vaga, foi aprovada pela nossa equipe!
    Agora você tem uma entrevista agendada para o dia @ViewBag.dataEntrevista, não esqueça de chegar com pelo menos 30 minutos de antecedencia!
</h2>
<h2>Boa Sorte!!!</h2>
