
@{
    ViewBag.Title = "User_home_2";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}

<h2>
    Sua candidatura para a vaga de @ViewBag.vaga, esta em analise pela nossa equipe!
    Boa Sorte!
</h2>

